<div class="login-page">
  <div class="form">
    <h2>Sing Up</h2>
    <form class="login-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Full name" name="FullName" [(ngModel)]="model.FullName" />
      <input type="text" placeholder="Email" [(ngModel)]="model.Email" aria-describedby="emailHelp"  name="Email"/>
      <input type="password" placeholder="Password" [(ngModel)]="model.Password" name="Password"/>
      <input type="password" placeholder="Confirm password" [(ngModel)]="confirmPassword"  name="confirmPassword"/>
      <input type="text" placeholder="Phone number" [(ngModel)]="model.PhoneNumber" name="PhoneNumber"/>
      <input type="text" placeholder="Address"  [(ngModel)]="model.Address" name="Address"/>
      <input type="number" placeholder="Age"  [(ngModel)]="model.Age" name="Age"/>

      <button type="submit">Register</button>
      <p class="message">Alredy registered ? <a [routerLink]="['/login']">Sign In</a></p>
    </form>
  </div>
</div>
